.columns{
    padding: 0rem 2rem;
    display: flex;
    flex-direction: row;
}   
#profile-image{
    width: 50%;
    height: auto;
    opacity: 0.9;
    filter: brightness(0.7);
    
}
.column1{
    /* flex:1; */
    flex: 0 0 50%;

}
.title{
    font-size: clamp(1.5rem,4vw,1rem);

}