.navbar{
    border-bottom: 0.1rem solid #000000;
    font-size: clamp(1.1rem,1vw,5rem);
}
.nav-components{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
/* @media (max-width: 500px) {
    .nav-components{
        flex-direction: column;
        gap: 0.5rem;
    }

    .navbar{
        text-align: center;
    }
} */

@media (max-width:500px){
    .nav-components{
        flex-direction: column;
        gap:0.5rem;
    }
    .navbar{
        text-align: center;
    } 
}